* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container {
    background-color: #333;
}
.nav-center {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.links-container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.link {
    text-decoration: none;
    color: #fff;
    letter-spacing: px;
}

.icon-container {
    position: relative;
    color: #fff;
}
.cart-icon {
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-number {
    position: absolute;
    bottom: -4px;
    right: -8px;
    background-color: #ff3c3c;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 50%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}